In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import warnings
warnings.simplefilter('ignore')


from sklearn import datasets
from tqdm.auto import tqdm

In [2]:
# Getting the data

iris = datasets.load_iris()
y = iris.target
columns=iris.feature_names
X = iris.data
df=pd.DataFrame(X,columns=columns)
df['target'] = y
X = df.drop('target',axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### Aproach
    1. Select the k most central points as seed
    2. Select the data points which add the most distance when compared to all the points in the cluster
    3. Terminate when the data points run out

In [3]:
k = 2
C = dict()
for cluster in range(k):
    C[cluster] = pd.DataFrame()

## 1. Intialization
#### 1.1 Calculating the mean vector

In [4]:
# Calculating the seed vector

mean_vector = X.mean()

#### 1.2 Calculating the distance from mean vector and sorting it

In [5]:
X['dist_mean'] = X.apply(lambda x: np.linalg.norm(np.asarray(x)- np.asarray(mean_vector)), axis=1)
dist_means = X.sort_values(by='dist_mean')
idx_to_drop = dist_means.index[:k]
dist_means.reset_index(drop=True,inplace=True)
X.drop('dist_mean',axis=1,inplace=True)
X.drop(idx_to_drop, inplace=True)
dist_means.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),dist_mean
0,5.6,2.9,3.6,1.3,0.345055
1,5.8,2.7,3.9,1.2,0.386949

#### 1.3 Assigning seed points to cluster

In [6]:
mu = list()
for cluster in range(k):
    C[cluster] = C[cluster].append(dist_means.iloc[cluster].drop('dist_mean'))
    mu.append(C[cluster].mean())
C[0]

   petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
0                3.6               1.3                5.6               2.9

## 2. Cluster Assignment

In [7]:
for i in tqdm(range(int(len(X)/k)), desc='Itereations: '):
    for cluster in range(k):

        # Calculating the distances from the mean vector of each cluster (in Descending order)
        X['dist_mean'] = X.apply(lambda x: np.linalg.norm(np.asarray(x)- np.asarray(mu[cluster])), axis=1)
        dist_means = X.sort_values(by='dist_mean', ascending=False)
        idx_to_drop = dist_means.index[0]
        dist_means.reset_index(drop=True,inplace=True)
        X.drop('dist_mean',axis=1,inplace=True)

        # Assigning the top value to the cluster
        C[cluster] = C[cluster].append(dist_means.iloc[0].drop('dist_mean'))
        C[cluster] = C[cluster].reset_index(drop=True)
        
        # Updating means of each cluster
        mu[cluster] = C[cluster].mean()

        # Remove datapoint from X?
        X.drop(idx_to_drop,inplace=True)

HBox(children=(IntProgress(value=0, description='Itereations: ', max=74, style=ProgressStyle(description_width…

In [8]:
# Each C contains the datapoints for clusters.

C[0]

    petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
0                 3.6               1.3                5.6               2.9
1                 1.2               0.2                5.8               4.0
2                 1.4               0.2                5.5               4.2
3                 1.3               0.4                5.4               3.9
4                 1.7               0.3                5.7               3.8
5                 1.5               0.2                5.3               3.7
6                 1.0               0.2                4.6               3.6
7                 6.7               2.2                7.7               3.8
8                 1.7               0.4                5.4               3.9
9                 1.4               0.2                5.0               3.6
10                1.4               0.2                5.2               3.4
11                1.3               0.3                5.0               3.5
12                1.4               0.3                5.1               3.5
13                1.5               0.4                5.1               3.7
14                1.5               0.2                5.1               3.4
15                1.5               0.2                5.0               3.4
16                1.3               0.2                4.7               3.2
17                6.7               2.0                7.7               2.8
18                1.1               0.1                4.3               3.0
19                1.4               0.1                4.8               3.0
20                1.6               0.4                5.0               3.4
21                1.5               0.2                4.9               3.1
22                6.1               2.3                7.7               3.0
23                1.3               0.2                4.4               3.2
24                1.6               0.2                5.0               3.0
25                1.7               0.5                5.1               3.3
26                1.6               0.2                4.8               3.1
27                1.5               0.2                4.6               3.1
28                6.1               2.5                7.2               3.6
29                6.0               1.8                7.2               3.2
..                ...               ...                ...               ...
45                5.6               2.4                6.7               3.1
46                4.0               1.0                6.0               2.2
47                5.5               1.8                6.5               3.0
48                4.2               1.2                5.7               3.0
49                4.2               1.5                5.9               3.0
50                4.0               1.2                5.8               2.6
51                5.2               2.0                6.5               3.0
52                4.1               1.3                5.6               3.0
53                3.3               1.0                4.9               2.4
54                3.9               1.1                5.6               2.5
55                5.1               1.5                6.3               2.8
56                4.5               1.5                6.0               2.9
57                5.6               2.4                6.3               3.4
58                5.8               2.2                6.5               3.0
59                4.9               1.5                6.3               2.5
60                3.5               1.0                5.0               2.0
61                4.9               1.8                6.3               2.7
62                4.8               1.8                6.2               2.8
63                4.5               1.5                6.2               2.2
64                5.6               1.8                6.3               2.9
65                4.8               1.8                6.0               3.0
66                4.5               1.5                5.6               3.0
67                4.0               1.3                5.5               2.3
68                4.4               1.2                5.5               2.6
69                5.6               1.4                6.1               2.6
70                4.5               1.5                5.4               3.0
71                5.1               1.6                6.0               2.7
72                5.1               1.9                5.8               2.7
73                4.9               2.0                5.6               2.8
74                5.0               2.0                5.7               2.5

[75 rows x 4 columns]